.navbar {
  position: fixed;   
  top: 0;            /* Stay at top of the page */
  width: 100%;       
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;  /* so it says above other stuff */
}
  

.navbar-title {
  flex-grow: 1;

}

  .title {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
  }

  .nav-list {
    list-style-type: none;   
    display: flex;          
    margin: 0;             
    padding: 0;              
  }
  

  .nav-item {
    margin-right: 20px;
  }
  

  .nav-link {
    color: white;            
    text-decoration: none;   
    font-size: 1.2rem;        
    padding: 10px 15px;      
  }
  
  .active-link {
    background-color: yellow; 
    color: black;             
    font-weight: bold;     
  }